<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <meta name="google-signin-client_id" content="92524786657-07fct9v0u02197s9gum3ur1n3kcldpsa.apps.googleusercontent.com"/>
    </h:head>
    <h:body>
       <h:form id="formlogout" >
           <h:commandLink onclick="signOut()" action="index.xhtml" id="logout2" value="log out"/>
                        </h:form>
         <h:form>
           <h:commandLink onclick="sendMessage()" value="envia"/>
                        </h:form>
        
       <script src="https://apis.google.com/js/platform.js?onload=onLoad" async="" defer="" />
        <h:outputScript library="js" name="login.js"/>
        <h:outputScript library="js-lib-jquery" name="jquery-1.10.2.js" />
    </h:body>
</html>

